div.col-xs-12.whiteBar{
	background:#ffb6d0;
	color: white;
}

.col-xs-12.mainContent{	
	background-color: #fcf0e4;
}
.col-xs-4.col-xs-offset-4{
	background-image: url('../easter.gif');
	background-repeat: no-repeat;
	background-size: cover;
	float: center;
	height: 405px;
	width: 450px;
}
h1.content{
	color:transparent;
}
.col-xs-4.SignIn{
	float: right;
	display: inline-block;
	text-align: right;
}
p.greeting{
	margin-left: 2%;
	display: inline-block;
}
.col-xs-12.AboutTwitter{
	background-color:#decaff;
	color:white;
}
h1{
	text-align:center;
}
.col-xs-8.clock_wrapper{
	margin-left:25%;
	padding-bottom: 50%;

}
h5{
	text-align: center;
	color: white;
}
